* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #ffffff;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.header__bunner {}

.header__h1 {}


.nav__list {
  display: block;
  gap: 10rem;
  list-style: none;
  background-color: #415167;
}

.nav__item--active .nav__list {
  color: #2c5530;
  border-bottom: 2px solid #2c5530;

}

.basket {}

.info {}

.info__title {}

.firstcard {}

.firstcard__text {}

.secondcard {}

.secondcard__text {}

.thirdcard {}

.thirdcard__text {}

.fourthcard {}

.fourthcard__text {}

.cards {}

.cards__title {}

.firstcoffee {}

.firstcoffee__price {}

.firstcoffee__name {}